/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
div#pageTop {
    position: relative;
    z-index: -3;
}

.indexMain {
    background: url(../img/indexMainPc.png) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -2;
}

.indexMainFx {}

.picIndexMainLxn {
    position: sticky;
    top: 0;
    @include mi.ontenerWidth(1200, 825);
    height: 100vh;

    img {
        width: auto;
        max-width: unset;
        height: 65.55555555555556vh;
    }
}

.picIndexMainFx {
    @include mi.ontenerWidth(825, 802.14);
    margin: auto;
    height: 100vh;
}

.spmainLxn {
    @include mi.paddingPercent(1200, 10, 0, 10, 0);
    @include mi.ontenerWidth(1200, 375);
    position: relative;
    background: linear-gradient(90deg, rgba(255, 98, 125, 0.79) 0%, rgba(251, 117, 150, 0.79) 100%);
    @include mi.mq(sp) {
         @include mi.paddingPercent(375, 10, 0, 10, 0);
        width: 100%;
    }
}
.fvWap{
    background: url(../img/bgFvWap.png) no-repeat center top;
    background-size: 100% auto;
    aspect-ratio: 375/570;
}
.fv{
    @include mi.ontenerWidth(375 , 289);
    margin: 0 auto;
}
.spmainLxnTop {
    @include mi.ontenerWidth(1200, 375);
    position: relative;

    @include mi.mq(sp) {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

//
.btnIndexMain {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
}

.btnIndexMainWap {}

.spmainLxnFx {
    @include mi.ontenerWidth(1200, 375);
    margin: 0 0 0 auto;

    @include mi.mq(sp) {
        width: 100%;
        margin: 0 auto;
    }
}

.menuSpBox {
    @include mi.ontenerWidth(375, 355);
    position: relative;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;

    img {
        width: 100%;
    }
}
.btnSpMenuWap{
    @include mi.ontenerWidth(375, 355);
    @include mi.paddingPercent(375, 18, 0, 18, 0);
    margin: auto;
    border-radius: 5px 5px 0 0;
    background: #fff;
    @include mi.mq(sp) {
        width: 100%;
    }
}
.btnSpMenu {
    @include mi.ontenerWidth(355, 326);
    margin: auto;
    img {
        width: 100%;
    }
}

.btnSpMenu.off {
    .off {
        display: block;
    }

    .on {
        display: none;
    }
}

.btnSpMenu.on {
    .off {
        display: none;
    }

    .on {
        display: block;
    }
}
.brdmenuSpBoxNav{
    background:#DC0B28;
    margin: auto;
    height: 1px;
    @include mi.ontenerWidth(355 , 325 );
}
.menuSpBoxNav {
    width: 100%;
    background: #fff;
    @include mi.paddingPercent(355, 0, 0, 25, 0);
    display: none;
    transition-duration: 0.5s;
}

.ulMenuSpBoxNav {
@include mi.marginPercent(355, 25,auto ,0 ,auto );
@include mi.ontenerWidth(355 , 295 );
}

.liMenuSpBoxNav {
    &:nth-child(n + 2) {
        @include mi.marginPercent(300, 17, auto, 0, auto);
    }
}

.btnIndexMainFx {
    @include mi.marginPercent(375, 12, auto, 0, auto);

    a {
        &:hover {
            opacity: 1;
        }
    }

    img {
        width: 100%;
    }
}

.liBtnIndexMain {
    @include mi.ontenerWidth(375, 165);
}

.liBtnIndexMain03 {
    @include mi.ontenerWidth(375, 45);
}